<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поставщики</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/suppliers/suppliers.css">
</head>
<body>
<header>
    <h1>Поставщики</h1>
    <nav>
        <a href="/" class="btn btn-primary">Вернуться на главную</a>
    </nav>
</header>
<main>
    <a href="/suppliers/create" class="btn btn-primary">Добавить поставщика</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Контактное лицо</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <!-- Здесь будет генерироваться список поставщиков с помощью Thymeleaf -->
        <tr th:each="supplier : ${suppliers}">
            <td th:text="${supplier.id}"></td>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.contactPerson}"></td>
            <td th:text="${supplier.email}"></td>
            <td th:text="${supplier.phone}"></td>
            <td>
                <a th:href="@{/suppliers/edit/{id}(id=${supplier.id})}" class="btn btn-edit">Редактировать</a>
                <a th:href="@{/suppliers/delete/{id}(id=${supplier.id})}" class="btn btn-delete">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>