<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список товаров</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/products/products.css">
</head>
<body>
<header>
    <h1>Управление товарами</h1>
    <nav>
        <a href="/" class="btn btn-primary">На главную</a>
    </nav>
</header>
<main>
    <a href="/products/create" class="btn btn-primary">Добавить новый товар</a>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Штрих-код</th>
            <th>Вес (кг)</th>
            <th>Объем (м³)</th>
            <th>Цена (₽)</th>
            <th>Количество на складе</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.category.name}"></td>
            <td th:text="${#strings.abbreviate(product.description, 50)}"></td>
            <td th:text="${product.barcode}"></td>
            <td th:text="${#numbers.formatDecimal(product.weight, 1, 2)}"></td>
            <td th:text="${#numbers.formatDecimal(product.volume, 1, 3)}"></td>
            <td th:text="${#numbers.formatDecimal(product.price, 1, 2) + ' ₽'}" class="price"></td>
            <td th:text="${product.stockQuantity}" class="stock-quantity"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-edit">Редактировать</a>
                <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-delete">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>